<div class='container content box profile-box menu-display'>
    {{#if posts}}
    <div class='container search-bar-container'>
        <p class='control has-icons-left'>
            <input class='input is-rounded search' type='text' aria-label='search input' aria-expanded='false'
                   placeholder='Search from {{route}}'>
            <span class='icon is-small is-left'>
                <i class='fas fa-search'></i>
            </span>
        </p>
    </div>
    {{/if}}

    {{#if posts}}
        <div class='tile is-ancestor scroll'>
            <div class='tile'>
            {{#each posts}}
                <div class='tile is-parent data' style='background: url(/public/img/{{this._id}}_0.jpg)'>
                    <a href='/post/{{this._id}}'>
                        <div class='is-child box'>
                            <p class='title'>{{this.title}}</p>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    {{else}}
        <h1 class='no-content'>No {{#if (isEqual route 'posts')}}posts{{else}}favorites{{/if}} yet</h1>
    {{/if}}
    </div>
</div>
