<div class='container content box profile-box' id='profile'>
    {{#unless (isEqual user._id session._id)}}
        <fieldset disabled class='profile-view'>
    {{/unless}}
    <form method='POST' id='profile-form' action='/profile' enctype='multipart/form-data' autocomplete='off'>
        <div class='columns'>
            <div class='column is-one-quarter'>
                <img class='profile-picture center' src='{{user.picture_path}}' alt='profile_picture'>

                {{#if (isEqual user._id session._id)}}
                <div class='file is-small is-centered'>
                    <label class='file-label'>
                        <input class='file-input' name='file' type='file'>
                        <span class='file-cta'>
                            <span class='file-icon'>
                                <i class='fas fa-upload'></i>
                            </span>
                            <span class='file-label'>
                                Choose a profile picture
                            </span>
                        </span>
                    </label>
                </div>
                {{else}}
                    <a class='button' id='follow-button'></a>
                {{/if}}
                <div class='icon-group'>
                    <div>
                        <div class='icon-text'>
                            <span class='icon is-large'>
                                <i class='fas fa-users fa-2x fa-fw' title='Followers'></i>
                            </span>
                        </div>
                        <p class='block' id='follower-count'>{{followers}}</p>
                    </div>

                    <div>
                        <div class='icon-text'>
                            <span class='icon is-large'>
                                <i class='fas fa-user-plus fa-2x fa-fw' title='Following'></i>
                            </span>
                        </div>
                        <p class='block'>{{following}}</p>
                    </div>

                    <div>
                        <div class='icon-text'>
                            <span class='icon is-large'>
                                <i class='fas fa-clipboard-list fa-2x fa-fw' title='Recipes'></i>
                            </span>
                        </div>
                        <p class='block'>{{post}}</p>
                    </div>
                </div>
            </div>

            <div class='column' id='field-columns'>
                <!-- Inner columns -->
                <div class='columns'>
                    <div class='column'>
                        <div id='sensitive-fields'>
                            <fieldset disabled>
                                <div class='field'>
                                    <label class='label' for='name'>Username</label>
                                    <div class='control has-icons-left has-icons-right'>
                                        <input class='input' type='text' name='name' value='{{user._id}}' id='name'>
                                        <span class='icon is-small is-left'>
                                        <i class='fas fa-user'></i>
                                    </span>
                                    </div>
                                    <p class='help' id='name-help'></p>
                                </div>
                            </fieldset>
                            {{#if (isEqual user._id session._id)}}
                                <div>
                                    <p id='pw-change-feedback' class='help'></p>
                                    <div class='field'>
                                        <a class='button is-primary' id='change-password-button'>Change Password</a>
                                        <div class="modal" id='modal-body'>
                                            <div class="modal-background"></div>
                                            <div class="modal-card">
                                                <header class="modal-card-head">
                                                    <p class="modal-card-title">Change Password</p>
                                                    <button class="delete close" aria-label="close"></button>
                                                </header>
                                                <section class="modal-card-body">
                                                    <div class='field'>
                                                        <label class='label' for='old-pass'>Old Password</label>
                                                        <div class='control'>
                                                            <input class='input' type='password' id='old-pass' name='old-pass'>
                                                        </div>
                                                        <p class='help' id='old-pass-help'></p>
                                                    </div>

                                                    <div class='field'>
                                                        <label class='label' for='new-pass'>New Password</label>
                                                        <div class='control'>
                                                            <input class='input' type='password' id='new-pass' name='new-pass'>
                                                        </div>
                                                        <p class='help' id='new-pass-help'></p>
                                                    </div>

                                                    <div class='field'>
                                                        <label class='label' for='confirm-pass'>Confirm New Password</label>
                                                        <div class='control'>
                                                            <input class='input' type='password' id='confirm-pass' name='confirm-pass'>
                                                        </div>
                                                        <p class='help' id='confirm-pass-help'></p>
                                                    </div>
                                                </section>
                                                <footer class="modal-card-foot">
                                                    <a class="button is-success">Save changes</a>
                                                    <a class="button close">Cancel</a>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {{/if}}
                        </div>

                        <div class='field'>
                            <label class='label' for='email'>Email</label>
                            <div class='control has-icons-left has-icons-right'>
                                <input class='input' type='email' placeholder='Email'
                                       value='{{user.email}}' name='email' id='email'>
                                <span class='icon is-small is-left'>
                                    <i class='fas fa-envelope'></i>
                                </span>
                                <span class='icon is-small is-right'>
                                    <i id='email-help-icon'></i>
                                </span>
                            </div>
                            <p class='help' id='email-help'></p>
                        </div>
                    </div>

                    <div class='column'>
                        <div class='field'>
                            <label class='label' for='profession'>Profession in Cooking</label>
                            <div class='control has-icons-left'>
                                <input class='input' type='text' placeholder='(Optional)' value='{{user.profession}}'
                                       name='profession' id='profession'>
                                <span class='icon is-small is-left'>
                                    <i class='fas fa-briefcase'></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='field'>
                    <label class='label' for='workplace'>Workplace</label>
                    <div class='control has-icons-left has-icons-right'>
                        <input class='input' type='text' placeholder='(Optional)' name='workplace' id='workplace'
                               value='{{user.workplace}}'>
                        <span class='icon is-small is-left'>
                                    <i class='fas fa-building'></i>
                                </span>
                        <p class='help'></p>
                    </div>
                </div>

                <div class='field'>
                    <label class='label' for='desc'>Short Description</label>
                    <div class='field-body'>
                        <div class='field'>
                            <div class='control'>
                                <textarea class='textarea' placeholder='(Optional)' name='desc' id='desc'>{{user.desc}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                {{#if (isEqual user._id session._id)}}
                    <!-- Buttons -->
                    <div class='field is-grouped is-grouped-right form-buttons'>
                        <div class='control'>
                            <button class='button is-link is-danger' id='delete-profile'>Delete Account</button>
                        </div>
                        <div class='control'>
                            <input type='submit' class='button is-link' id='submit-edit-profile' value='Update Profile'
                                   disabled>
                        </div>
                        <div class='control'>
                            <button class='button is-link is-light' id='cancel-edit-profile'>Cancel</button>
                        </div>
                    </div>
                {{/if}}
                </div>
            </div>
        </form>
    {{#unless (isEqual user._id session._id)}}
        </fieldset>
    {{/unless}}
</div>
