<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{{{title}}}</title>
    <link rel='icon' href='/public/img/icon.png'>

    <link rel='stylesheet' href='/public/css/bulma.css'>
    <link rel='stylesheet' href='/public/css/custom.css'>
    <link rel='stylesheet' href='/public/css/profile.css'>
    <link rel='stylesheet' href='/public/css/fontawesome/css/all.css'>

    <script src='/public/js/jquery-3.6.0.js'></script>
    <script src='/public/js/script.js'></script>
</head>
<body>
<header>
    <nav class='navbar' role='navigation' aria-label='main navigation'>
        <div class='navbar-brand'>
            <a class='navbar-item' href='/'>
                <img src='/public/img/Logo.png' alt='brand'>
            </a>

            <a role='button' class='navbar-burger' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample'>
                <span aria-hidden='true'></span>
                <span aria-hidden='true'></span>
                <span aria-hidden='true'></span>
            </a>
        </div>

        <div id='navbarBasicExample' class='navbar-menu'>
            <div class='navbar-start'>
                <a href='/' class='navbar-item'>Home</a>

                <a href='/about' class='navbar-item'>About</a>
                {{#if session._id}}
                    <a href='/search' class='navbar-item'>Explore</a>
                {{else}}
                    <a href='/explore' class='navbar-item'>Explore</a>
                {{/if}}
            </div>

            <div class='navbar-end'>
                {{#if session._id}}
                    <div class='navbar-item has-dropdown is-hoverable'>
                        <a class='navbar-link'>
                            <img id='header-dp' src='/public/img/default_dp.jpg' alt='profile_picture'>
                        </a>
                        <div class='navbar-dropdown'>
                            <a class='navbar-item' href='/profile'>My Profile</a>
                            <a class='navbar-item' href='/logout'>Log out</a>
                        </div>
                    </div>
                {{else}}
                    <div class='navbar-item'>
                        <div class='buttons'>
                            {{#unless signup}}
                                <a class='button is-primary' href='/signup'><strong>Sign up</strong></a>
                            {{/unless}}
                            {{#unless login}}
                                {{#unless signup}}
                                    <a class='button is-light' href='/login'>Log in</a>
                                {{else}}
                                    <a class='button is-primary' href='/login'><strong>Log in</strong></a>
                                {{/unless}}
                            {{/unless}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </nav>
</header>

{{{body}}}

<footer class='footer'>
    <div class='content has-text-centered'>
                <span class='icon is-large'>
                    <a href='https://facebook.com/'><i class='fab fa-facebook fa-2x'></i></a>
                </span>
        <span class='icon is-large'>
                    <a href='https://twitter.com'><i class='fab fa-twitter fa-2x'></i></a>
                </span>
        <span class='icon is-large'>
                    <a href='https://linkedin.com'><i class='fab fa-linkedin fa-2x'></i></a>
                </span>
        <p>
            <strong>ShefHub</strong> by The Team.<br>
            &copy; Copyright <script>document.write(new Date().getFullYear().toString())</script>, The Team. All Rights Reserved.
        </p>
    </div>
</footer>
</body>
</html>