<script src='/public/js/createpost.js'></script>

<main class='is-fullhd fill page-height parallax vegetable-bg' id='create-post'>
    <form class='container content box recipe-view' method='POST'>
        <h1><label for='recipe-title'>Recipe Title</label></h1>
        <input class='input' type='text' id='recipe-title' placeholder='Indicate name of recipe here' name='title' value='{{post.title}}'>
        <p class='help' id='recipe-title-help'></p>

        <h3>Images</h3>

        <div id='upload-images'>

        </div>
        <button class='button is-primary is-light' onclick='addImgField()'>Add Image</button>

        <h3><label for='recipe-desc'>Description</label></h3>
        <textarea class='textarea has-fixed-size' placeholder='Place the description here' id='recipe-desc' name='desc'></textarea>
        <p class='help' id='recipe-desc-help'></p>


        <h3 class='title'>Ingredients</h3>
        <ol class='content' id='edit-ingredients'>

        </ol>
        <button class='button add-field is-primary is-light' onclick='addIngField()'>Add Ingredient</button>


        <h3 class='title'>Directions</h3>
        <ol class='content' id='edit-directions'>

        </ol>
        <button class='button add-field is-primary is-light' onclick='addDirField()'>Add Step</button>


        <h3 class='title'>Information</h3>

        <div class='field is-horizontal'>
            <div class='field-label is-normal'>
                <label class='label' for='servings'>Servings size</label>
            </div>
            <div class='field-body'>
                <div class='control'>
                    <input class='input' type='number' id='servings' placeholder='e.g. 8' name='serving' min='0' value='{{post.serving}}'>
                </div>
                <p class='help is-danger' id='serving-help'></p>
            </div>
        </div>

        <div class='field is-horizontal'>
            <div class='field-label is-normal'>
                <label class='label'>Preparation time</label>
            </div>
            <div class='field-body'>
                <div class='control'>
                    <input class='input' type='number' id='prep-hr' min='0' name='prep-hr' value='{{getHr post.prep_time}}'>
                </div>
                <label for='prep-hr'>hours</label>
                <div class='control'>
                    <input class='input' type='number' id='prep-min' min='0' max='59' name='prep-min' value='{{getMin post.prep_time}}'>
                </div>
                <label for='prep-min'>minutes</label>
                <p class='help is-danger' id='prep-time-help'></p>
            </div>
        </div>

        <div class='field is-horizontal'>
            <div class='field-label is-normal'>
                <label class='label'>Cooking time</label>
            </div>
            <div class='field-body'>
                <div class='control'>
                    <input class='input' type='number' id='cook-hr' min='0' name='cook-hr' value='{{getHr post.cook_time}}'>
                </div>
                <label for='cook-hr'>hours</label>
                <div class='control'>
                    <input class='input' type='number' id='cook-min' min='0' max='59' name='cook-min' value='{{getMin post.cook_time}}'>
                </div>
                <label for='cook-min'>minutes</label>
                <p class='help is-danger' id='cook-time-help'></p>
            </div>
        </div>

        <div class='field has-addons is-horizontal'>
            <div class='field-label is-normal'>
                <label class='label'>Total time</label>
            </div>

            <div class='field-body'>
                <p id='total-hr'>0</p>
                <label>hours</label>
                <p id='total-min'>0</p>
                <label>minutes</label>
            </div>
        </div>

        <div class='field is-grouped is-grouped-right'>
            <p class='control'>
                <input class='button is-primary is-medium' type='submit'>
            </p>
            <p class='control'>
                <a class='button is-light is-medium' href='/'>
                    Cancel
                </a>
            </p>
        </div>
    </form>
</main>
