<script src='/public/js/newsfeed.js'></script>

<main class='is-fullhd fill page-height parallax vegetable-bg' id='menu'>
    <a href='/create' class='button' id='go-create-post'>+ Create your own post</a>

    {{#each post}}
        <div class='card'>
            <a class='card-image' href='/post/{{this._id}}'>
                <figure class='image is-2by1'>
                    <img src='/public/img/{{this._id}}_0.jpg' alt='{{this.title}}'>
                </figure>
            </a>
            <div class='card-content'>
                <div class='media'>
                    <div class='media-left'>
                        <a href='/user/{{this.user._id}}' class='image is-48x48'>
                            <img class='is-rounded' src='{{this.user.picture_path}}' alt='Placeholder image'>
                        </a>
                    </div>
                    <div class='media-content'>
                        <a href='/post/{{this._id}}' class='title is-4'>{{this.title}}</a>
                        <br>
                        <a href='/user/{{this.user._id}}' class='subtitle is-6'>{{this.user._id}}</a>
                    </div>
                </div>

                <div class='content'>
                    {{this.desc}}
                    <br><br>
                    <time>{{formatDate this.date}}</time>

                    <div class='user-interactions'>
                        <i class='fas fa-thumbs-up upvote'></i>
                        <span class='display-count'>2</span>
                        <i class='fas fa-thumbs-down downvote'></i>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}

    <div class='container content box' id='newsfeed-end'>
        <h1 class='title'>Uh oh, this is the end of your newsfeed!</h1>
        <p>Follow more people and the wonderful recipes they have in store.</p>
    </div>
</main>
