<script src='/public/js/post.js'></script>
<input type='hidden' name='recipe_id' value='{{post._id}}'>
<main class='is-fullhd fill page-height parallax vegetable-bg'>
    <div class='container content box recipe-view'>
        <div class='post-title'>
            <div>
                <h1 class='title' id='recipe-name'>{{post.title}}</h1>
                <h5 class='subtitle'> By <a {{#if user}}href='/user/{{post.user}}'{{/if}}>{{post.user}}</a> <span id='post-date'>{{formatDate post.date}}</span></h5>
            </div>
            {{#if (isEqual session._id post.user)}}
                <div class='dropdown' id='post-dropdown'>
                    <div class='dropdown-trigger'>
                        <i class='fas fa-ellipsis-v fa-2x' aria-haspopup='true' aria-controls='post-options'></i>
                    </div>
                    <div class='dropdown-menu' role='menu'>
                        <div class='dropdown-content'>
                            <a id='edit-post' class='dropdown-item'>Edit</a>
                            <a id='delete-post' class='dropdown-item'>Delete</a>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

        <div class='columns post-header'>
            <div class='column is-1 vote-header'>
                <i class='fas fa-chevron-up fa-2x upvote {{#if (isEqual post.is_liked 1)}}is-active{{/if}}'></i>
                <strong id='votes'>{{post.likes}}</strong>
                <i class='fas fa-chevron-down fa-2x downvote {{#if (isEqual post.is_liked -1)}}is-active{{/if}}'></i>
            </div>

            {{#unless session._id}}
                <div class='modal' id='modal-body'>
                    <div class='modal-background'></div>
                    <div class='modal-card'>
                        <header class='modal-card-head'>
                            <p class='modal-card-title'>Sign up to vote!</p>
                            <button class='delete' aria-label='close' id='close'></button>
                        </header>
                        <section class='modal-card-body'>
                            Log-in or register to vote on posts and see more recipes.
                            Join our community to improve your cooking skills and interact with other chefs
                            around the globe!
                        </section>
                        <footer class='modal-card-foot'>
                            <a class='button is-primary' href='/signup'><strong>Sign up</strong></a>
                            <a class='button' href='/login'>Log in</a>
                        </footer>
                    </div>
                </div>
            {{/unless}}

            <div class='column slider'>
                <!-- Inner columns -->
                <div class='columns' id='food-pic'
                     style='background: url("/public/img/{{post._id}}_0.jpg")'>
                    <div class='column is-1'>
                        <i class='fas fa-chevron-circle-left fa-3x' id='left'></i>
                    </div>

                    <div class='column center'>
                        <nav class='pagination is-centered is-rounded' role='navigation' aria-label='pagination'>
                            <ul class='pagination-list'>
                                <li><a class='pagination-link is-current' aria-label='image 0' aria-current='page'></a></li>
                                {{#range 1 post.n_pictures}}
                                    <li><a class='pagination-link' aria-label='image {{this}}'></a></li>
                                {{/range}}
                            </ul>
                        </nav>
                    </div>

                    <div class='column is-1'>
                        <i class='fas fa-chevron-circle-right fa-3x' id='right'></i>
                    </div>

                </div>
            </div>
        </div>

        <h3 class='title'>Description</h3>
        <p class='content'>
            {{post.desc}}
        </p>

        <h3 class='title'>Ingredients</h3>
        <ul class='content' id='ingredient-list'>
            {{#each post.ingredient}}
                <li><input type='checkbox' id='{{@index}}'><label for='{{@index}}'>{{this}}</label></li>
            {{/each}}
        </ul>

        <h3 class='title'>Directions</h3>
        <ol class='content'>
            {{#each post.direction}}
                <li>{{this}}</li>
            {{/each}}
        </ol>

        <h3 class='title'>Information</h3>
        <div class='content'>
            <p>
                Preparation time: {{parseMinToHHMM post.prep_time 0}}<br>
                Cooking time: {{parseMinToHHMM post.cook_time 0}}<br>
                Total time: {{parseMinToHHMM post.prep_time post.cook_time}}<br>
                Servings: {{post.serving}}
            </p>
        </div>


        <h3 class='title'>Comments</h3>
        <div class='comments'>
            <p id='no-comments'>No comments on this post yet</p>
        {{#each comments}}
            <article class='media'>
                <figure class='media-left'>
                    <p class='image is-64x64'>
                        <img class='is-rounded' src='{{this.user.picture_path}}' alt='{{this.user._id}}'>
                    </p>
                </figure>
                <div class='media-content'>
                    <div class='content'>
                        <p>
                        <input type='hidden' value='{{this._id}}'>

                        <p><a href='/user/{{this.user._id}}'><strong>{{this.user._id}}</strong></a></p>
                        <p class='comment-body'>{{this.body}}</p>
                        <p><small><a class='reply'>Reply</a> · {{timeDiff this.date}}</small></p>
                    </div>

                    {{#each this.replies}}
                        <article class='media'>
                            <figure class='media-left'>
                                <p class='image is-48x48'>
                                    <img class='is-rounded' src='{{this.user.picture_path}}' alt='{{this.user._id}}'>
                                </p>
                            </figure>
                            <div class='media-content'>
                                <div class='content'>
                                    <p><a href='/user/{{this.user._id}}'><strong>{{this.user._id}}</strong></a></p>
                                    <p class='comment-body'>{{this.body}}</p>
                                    <p><small>{{timeDiff this.date}}</small></p>
                                </div>
                            </div>

                            {{#if (isEqual ../../session._id this.user._id)}}
                                <div class='dropdown comment-dropdown'>
                                    <div class='dropdown-trigger'>
                                        <i class='icon fas fa-ellipsis-h fa-lg' aria-haspopup='true' aria-controls='post-options'></i>
                                    </div>
                                    <div class='dropdown-menu' role='menu'>
                                        <div class='dropdown-content'>
                                            <input type='hidden' value='{{this._id}}'>
                                            <a class='dropdown-item edit-comment'>Edit</a>
                                            <a class='dropdown-item delete-comment'>Delete</a>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        </article>
                    {{/each}}
                </div>
                {{#if (isEqual ../session._id this.user._id)}}
                    <div class='dropdown comment-dropdown'>
                        <div class='dropdown-trigger'>
                            <i class='icon fas fa-ellipsis-h fa-lg' aria-haspopup='true' aria-controls='post-options'></i>
                        </div>
                        <div class='dropdown-menu' role='menu'>
                            <div class='dropdown-content'>
                                <input type='hidden' value='{{this._id}}'>
                                <a class='dropdown-item edit-comment'>Edit</a>
                                <a class='dropdown-item delete-comment'>Delete</a>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </article>
        {{/each}}
        </div>

        {{#if session._id}}
            <article class='media'>
                <figure class='media-left'>
                    <p class='image is-64x64'>
                        <img class='is-rounded' src='{{user.picture_path}}' alt='{{user._id}}' id='comment-dp'>
                    </p>
                </figure>
                <div class='media-content'>
                    <div class='field'>
                        <p class='control'>
                            <textarea class='textarea has-fixed-size' placeholder='Add a comment...' name='comment' id='new-comment'></textarea>
                        </p>
                    </div>
                    <div class='field'>
                        <p class='control'>
                            <button class='button' id='post-comment'>Post comment</button>
                        </p>
                    </div>
                </div>
            </article>
        {{/if}}

    </div>
</main>