<main class='is-fullhd fill page-height parallax vegetable-bg flex-col' id='search-results'>

    <div class='card-container'>
        <form class='search-form' method='GET'>
            <p class='control has-icons-left big-search-bar'>
                <input class='input is-rounded is-large' type='text' placeholder='What are you looking for?' aria-label='search input' name='keyword' value='{{query}}'>
                <span class='icon is-left'><i class='fas fa-search'></i></span>
            </p>
        </form>

        {{#each results}}
            <a class='card' href='../post/{{this._id}}'>
                <div class='card-image'>
                    <figure class='image is-square'>
                        <img src='/public/img/foodelicious_chicken_adobo1.jpg' alt='{{this.title}}'>
                    </figure>
                </div>
                <div class='card-content'>
                    <div class='media'>
                        <div class='media-left'>
                            <figure class='image is-48x48'>
                                <img class='is-rounded' src='/public/img/foodelicious.jpg' alt='{{this.user_id}}'>
                            </figure>
                        </div>
                        <div class='media-content'>
                            <p class='title is-4'>{{this.title}}</p>
                            <p class='subtitle is-6'>{{this.user_id}}</p>
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</main>
